<div class ="cards row no-gutters">
    <div  class="col-lg-4" *ngFor ="let products of product">
        <div class="card-item" href="#">
            <span class="caption">
                <span class="caption-content">
                    <img src={{products.logo}} >
                    <p class="card-text mb-4">{{products.ver}} •  July 06, 1:45PM</p>
               </span>
        </span>
    <mat-tab-group mat-align-tabs="start">
  <mat-tab label="First">{{products.desc}}</mat-tab>
  <mat-tab label="Second">
     <p class="card-text mb-2">Version:{{products.ver}}</p>
       <p class="card-text mb-2">owner:THBS</p>
        <p class="card-text mb-2">Created Date:01/01/2020</p>
         <p class="card-text mb-2">created by:thbs</p>
     </mat-tab>
</mat-tab-group>
      <button mat-button color="primary">EDIT</button>
       <button mat-button color="primary">DELETE</button>
  </div>
</div>
<div class="add-card col-lg-4">
          <div class="card-item2 card-item" href="#">
            <mat-icon class="icon-display">add</mat-icon>
            <h5>ADD NEW PROJECT</h5>
          </div>
</div>
</div>
